@import '../font';

.section_two{
    width: 375px;
    background-color: white;
    &_div_one{
        &_img{
            width:375px;
            height:312px;
        }
    }
    &_div_two{
        margin: 15% 6%;
        width: 327px;
        height:309px;
        &_h2{
            font-size: 2rem;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-weight: 900;
            padding-bottom: 8%;
            line-height: 2.5rem;
        }
        &_p{
            font-size: 1.125rem;
            text-align: center;
            font-family: 'Barlow', serif;
            font-weight: 600;
            padding-bottom: 8%;
            line-height: 1.875rem;
        }
        &_learn{
            display: flex;
            justify-content: center;
            align-items: center;
            &_link{
                font-size: 1rem;
                text-align: center;
                font-family: 'Fraunces', sans-serif;
                font-weight: 900;
                line-height: 1.5625rem;
                padding-bottom: 8%;
                color:black;
                text-decoration: none;
                text-shadow: 0px 2px yellow;
            }
        }
    }
    &_div_three{
        &_img{
            width:375px;
            height:312px;
        }
    }
    &_div_four{
        margin: 15% 6%;
        width: 327px;
        height:309px;
        &_h2{
            font-size: 2rem;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-weight: 900;
            padding-bottom: 8%;
            line-height: 2.5rem;
        }
        &_p{
            font-size: 1.125rem;
            text-align: center;
            font-family: 'Barlow', serif;
            font-weight: 600;
            padding-bottom: 8%;
            line-height: 1.875rem;
        }
        &_learn{
            display: flex;
            justify-content: center;
            align-items: center;
            &_link{
                font-size: 1rem;
                text-align: center;
                font-family: 'Fraunces', sans-serif;
                font-weight: 900;
                line-height: 1.5625rem;
                padding-bottom: 8%;
                color:black;
                text-decoration: none;
                text-shadow: 0px 2px palevioletred;
            }
        }
    }
}
@media(min-width:1439px){
    .section_two{
        width: 1440px;
        display:grid;
        grid-template: 50% 50% / 50% 50%;
        &_div_one{
            width:720px;
            height:600px;
            order:2;
            &_img{
                width:720px;
                height:600px;
            }
        }
        &_div_two{
            width:720px;
            height:600px;
            margin:0;
            order:1;
            padding-left: 120px;
            padding-right: 120px;
            &_h2{
                font-size: 40px;
                text-align: left;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                padding-bottom: 32px;
                padding-top:158px;
                line-height: 49.32px;
            }
            &_p{
                text-align: left;
            }
            &_learn{
                display: flex;
                justify-content: left;
                align-items: center;
                &_link{
                    &:hover{
                        text-shadow: 0px 5px yellow;
                    } 
                }
            }
        }
        &_div_three{
            width:720px;
            height:600px;
            order: 3;
            &_img{
                width:720px;
                height:600px;
            }
        }
        &_div_four{
            width:720px;
            height:600px;
            margin:0;
            padding-left: 120px;
            padding-right: 120px;
            order: 4;
            &_h2{
                font-size: 40px;
                text-align: left;
                font-family: 'Fraunces', serif;
                font-weight: 900;
                padding-bottom: 32px;
                padding-top:158px;
                line-height: 49.32px;
            }
            &_p{
                text-align: left;
            }
            &_learn{
                display: flex;
                justify-content: left;
                align-items: center;
                &_link{
                    &:hover{
                        text-shadow: 0px 5px palevioletred;
                    }
                }
            }
        }
    }
}