@import '../font';

.section_four{
    width: 375px;
    height:1258px;
    &_h2{
        font-size: 1rem;
        text-align: center;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        line-height: 1.2331rem;
        margin-top: 4rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        letter-spacing: .25rem;
        color:#a7aaaD;
    }
    &_div_body{
        width: 327px;
        height:1108px;
        margin-bottom: 86px;
        &_div_one{
            width: 327px;
            height: 288px;
            margin-left: 24px;
            margin-right: 24px;
            margin-top: 4rem;
            &_img{
                margin-left: 127px;
                margin-right:128px;
                width: 72px;
                height: 72px;
                border-radius: 50%;
            }
            &_p{
                font-size: 18px;
                text-align: center;
                font-family: 'Barlow', serif;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: -0.13px;
                margin-top: 2rem;
            }
            &_footer{
                margin-top:32px;
                margin-left: 62px;
                margin-right:62px;
                width: 203px;
                height: 56px;
                &_h2{
                    font-size: 18px;
                    text-align: center;
                    font-family: 'Fraunces', serif;
                    font-weight: 900;
                    line-height: 22.19px;
                    margin-bottom: 9px;
                    margin-left: 62px;
                    margin-right: 62px;
                    letter-spacing: -0.13px;
                }
                &_p{
                    font-size: 14px;
                    text-align: center;
                    font-family: 'Barlow', serif;
                    font-weight: 600;
                    line-height: 25px;
                    letter-spacing: -0.1px;
                    margin-top: 9px;
                }
            }
        }
        &_div_two{
            width: 327px;
            height: 288px;
            margin-left: 24px;
            margin-right: 24px;
            margin-top: 4rem;
            &_body{
                &_img{
                    margin-left: 127px;
                    margin-right:128px;
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                }
                &_p{
                    font-size: 18px;
                    text-align: center;
                    font-family: 'Barlow', serif;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: -0.13px;
                    margin-top: 2rem;
                }
            }
            &_footer{
                margin-top:32px;
                margin-left: 62px;
                margin-right:62px;
                width: 203px;
                height: 56px;
                &_h2{
                    font-size: 18px;
                    text-align: center;
                    font-family: 'Fraunces', serif;
                    font-weight: 900;
                    line-height: 22.19px;
                    margin-bottom: 9px;
                    margin-left: 62px;
                    margin-right: 62px;
                    letter-spacing: -0.13px;
                }
                &_p{
                    font-size: 14px;
                    text-align: center;
                    font-family: 'Barlow', serif;
                    font-weight: 600;
                    line-height: 25px;
                    letter-spacing: -0.1px;
                    margin-top: 9px;
                }
            }
        }
        &_div_three{
            width: 327px;
            height: 288px;
            margin-left: 24px;
            margin-right: 24px;
            margin-top: 4rem;
            &_body{
                &_img{
                    margin-left: 127px;
                    margin-right:128px;
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                }
                &_p{
                    font-size: 18px;
                    text-align: center;
                    font-family: 'Barlow', serif;
                    font-weight: 600;
                    line-height: 32px;
                    letter-spacing: -0.13px;
                    margin-top: 2rem;
                }
            }
            &_footer{
                margin-top:32px;
                margin-left: 62px;
                margin-right:62px;
                width: 203px;
                height: 56px;
                &_h2{
                    font-size: 18px;
                    text-align: center;
                    font-family: 'Fraunces', serif;
                    font-weight: 900;
                    line-height: 22.19px;
                    margin-bottom: 9px;
                    margin-left: 62px;
                    margin-right: 62px;
                    letter-spacing: -0.13px;
                }
                &_p{
                    font-size: 14px;
                    text-align: center;
                    font-family: 'Barlow', serif;
                    font-weight: 600;
                    line-height: 25px;
                    letter-spacing: -0.1px;
                    margin-top: 9px;
                }
            }
        }
    }
}