@import '../font';

.section_four{
    width: 375px;
    height:1258px;
    &_h2{
        text-align: center;
        margin-top: 2rem;
    }
    &_div_body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &_div_one{
            &_img{
                border-radius: 100%;
                width: 8Opx;
                margin:2rem;
                margin-top: 3rem;
            }
            &_p{
                margin: 0 3rem;
            }
            &_footer{
                &_h2{
                    margin-top: 2rem;
                }
                &_p{
                    margin-top: 1rem;
                }
            }
        }
        &_div_two{
            &_img{
                border-radius: 100%;
                width: 8Opx;
                margin:2rem;
                margin-top: 3rem;
            }
            &_p{
                margin: 0 3rem;
            }
            &_footer{
                &_h2{
                    margin-top: 2rem;
                }
                &_p{
                    margin-top: 1rem;
                }
            }
        }
        &_div_three{
            &_img{
                border-radius: 100%;
                width: 8Opx;
                margin:2rem;
                margin-top: 3rem;
            }
            &_p{
                margin: 0 3rem;
            }
            &_footer{
                &_h2{
                    margin-top: 2rem;
                }
                &_p{
                    margin-top: 1rem;
                }
            }
        }
    }
}