@import '../font';


.section_one{
    background-image: url('../images/photos/image-header.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 375px;
    height: 538px;
    &_navbar{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;
        &_branding{
            font-size: 2rem;
        }
        &_menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3.75rem;
            margin-top: 10rem;
        }
        &_item{
            list-style: none;
            &_link{
                transition: 0.7s ease;
                text-decoration: none;
                color:black;
                &:visited{
                    color: black;
                }
                &:hover{
                background-color: yellow;
                border-radius: 25px;
                padding: 1rem 2rem;
                }
            }
        }
        &_div_hamburger{
            display:none;
            cursor:pointer;
            &_bar{
                display:block;
                width: 1.5625rem;
                height: .1875rem;
                margin: .3125rem auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: white;
            }
        }
    }
    &_h2{
        color:white;
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        margin:0 8%;
        padding-top: 5%;
    }
    &_div{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top: 15%;
        &_arrow{
        width:30px;
        height: 110px;
        } 
    }
         
}
@media(max-width:768px){
    .section_one{
        &_navbar{
            &_div_hamburger{
                display:block;
                &.active &_bar:nth-child(2){
                    opacity:0;
                }
                &.active &_bar:nth-child(1){
                    transform:translateY(.5rem)rotate(45deg);
                }
                &.active &_bar:nth-child(3){
                    transform:translateY(-.5rem)rotate(-45deg);
                }
            }
            &_menu{
                position:fixed;
                left:-100%;
                gap:0;
                flex-direction: column;
                background-color: white;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                &.active{
                    left:0;
                }
            }
            &_item{
                    margin: 1rem 0;
            }
        }
    }
}
@media(min-width:1439px){
    .section_one{
        width:1440px;
        height: 800px;
        &_navbar{
            &_item{
                list-style: none;
                &_link{
                    text-decoration: none;
                    color:white;
                    &:hover{
                    background-color:hsl(206, 100%, 85%);
                    border-radius: 25px;
                    padding: 1rem 2rem;
                    }
                }
            }
            &_menu{
                margin-top:0;
            }
        }
        &_h2{
            color:white;
            font-size: 56px;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-weight: 900;
            margin:0 8%;
            padding-top: 195px;
            line-height: 69.05px;
        }
        &_div{
            padding-top: 40px;
            &_arrow{
            width:30px;
            height: 110px;
            } 
        }
    }
}